{% extends 'quiz/frontend/base.html' %}
{% block title %}注册会员{% endblock %}
{% block content %}
    <h1>注册会员</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="form-group">
            <label for="email">邮箱</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="form-group">
            <input type="submit" value="注册">
        </div>
    </form>
    <p>已拥有账号？<a href="{% url 'login' %}">立即登录</a></p>
{% endblock %}